---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
// Includes Bourbon, Neat, and Bitters (thanks, thoughtbot!)
@import
  "bootstrap",
  "bourbon/bourbon",
  "base/base",
  "neat/neat",
  "layout",
  "pagination/jekyll-pagination";