---
layout: page-wide
title: Alumni
permalink: /people/alumni
---

<div class="people">
  <div class="sub-heading">
    <a href="#phd">PhD Students</a> | <a href="#ms">MS Students</a>
    <div class="addendum"> Not a complete list, please contact the webmaster if you want to be added</div>
  </div>

  <a name="phd"></a><h2 class="sub-heading"> PhD Students </h2>
  {% for year in site.data.phd_alumni %}  
  <h3 class="sub-heading">{{year.date}}</h3>
  <div class="person-images">
    
    {% for student in year.students %}  
      <div class="person-member">
        <div class="person-image">
          {% if student.image == 'nophoto' %}
            <img src="../assets/images/profile-placeholder.gif" alt="">
            <img src="../assets/images/profile-placeholder.gif" alt="">            
          {% else %}
            <img src="../assets/images/people/{{ student.image }}.jpg" alt="">
            <img src="../assets/images/people/{{ student.image }}1.jpg" alt="">
          {% endif %}
        </div>
        <div class="person-description">
          <div class="person-name">{{ student.name }}</div>
          <p>{{ student.title }}</p>
          {% if student.email %}
          <p><a href="mailto:{{ student.email }}" target="_new">Email</a> |
          {% else %}
          <p> Email |
          {% endif %}
          {% if student.homepage %}
          <a href="{{ student.homepage }}" target="_new">Homepage</a> |
          {% else %}
          Homepage |
          {% endif %}
          {% if student.company %}
          <a href="{{ student.company }}" target="_new">Company</a></p>
          {% else %}
          Company </p>
          {% endif %}
        </div>
      </div>
    {% endfor %}

  </div>
  {% endfor %}

<hr>

  <a name="ms"></a><h2 class="sub-heading"> MS Students </h2>
  {% for year in site.data.masters_alumni %}  
  <h3 class="sub-heading">{{year.date}}</h3>
  <div class="person-images">
    
    {% for student in year.students %}  
      <div class="person-member">
        <div class="person-image">
          {% if student.image == 'nophoto' %}
            <img src="../assets/images/profile-placeholder.gif" alt="">
            <img src="../assets/images/profile-placeholder.gif" alt="">            
          {% else %}
            <img src="../assets/images/people/{{ student.image }}.jpg" alt="">
            <img src="../assets/images/people/{{ student.image }}1.jpg" alt="">
          {% endif %}
        </div>
        <div class="person-description">
          <div class="person-name">{{ student.name }}</div>
          <p>{{ student.title }}</p>
          {% if student.email %}
          <p><a href="mailto:{{ student.email }}" target="_new">Email</a> |
          {% else %}
          <p> Email |
          {% endif %}
          {% if student.homepage %}
          <a href="{{ student.homepage }}" target="_new">Homepage</a> |
          {% else %}
          Homepage </p> |
          {% endif %}
          {% if student.company %}
          <a href="{{ student.company }}" target="_new">Company</a></p>
          {% else %}
          Company </p>
          {% endif %}
        </div>
      </div>
    {% endfor %}

  </div>
  {% endfor %}

</div>