---
layout: page-wide
title: Visitors
permalink: /people/visitors.html
---

<div class="people">
  <div class="sub-heading">
    <a href="#curr">Current Visitors</a> | <a href="#prev">Previous Visitors</a>
  </div>
  <a name="curr"></a><h2 class="sub-heading">Current Visitors</h2>
  <div class="person-images">

      {% for visitor in site.data.visitors %}
      <div class="person-member">
        <div class="person-image">
          {% if visitor.image == 'nophoto' %}
            <img src="../assets/images/profile-placeholder.gif" alt="">
            <img src="../assets/images/profile-placeholder.gif" alt="">            
          {% else %}
            <img src="../assets/images/people/{{ visitor.image }}.jpg" alt="">
            <img src="../assets/images/people/{{ visitor.image }}1.jpg" alt="">
          {% endif %}
        </div>
        <div class="person-description">
          <div class="person-name">{{ visitor.name }}</div>
          <p>{{ visitor.title }}</p>
          {% if visitor.email %}
          <p><a href="mailto:{{ visitor.email }}" target="_new">Email</a> |
          {% else %}
          <p> Email |
          {% endif %}
          {% if visitor.homepage %}
          <a href="{{ visitor.homepage }}" target="_new">Homepage</a> |
          {% else %}
          Homepage |
          {% endif %}
          {% if visitor.company %}
          <a href="{{ visitor.company }}" target="_new">Company</a></p>
          {% else %}
          Company </p>
          {% endif %}
        </div>
      </div>
      {% endfor %}

  </div>
</div>

<div class="people">
  <a name="prev"></a><h2 class="sub-heading">Previous Visitors</h2>
  <div class="person-images">

      {% for prev_visitor in site.data.prev_visitors %}
      <div class="person-member">
        <div class="person-image">
          {% if prev_visitor.image == 'nophoto' %}
            <img src="../assets/images/profile-placeholder.gif" alt="">
            <img src="../assets/images/profile-placeholder.gif" alt="">            
          {% else %}
            <img src="../assets/images/people/{{ prev_visitor.image }}.jpg" alt="">
            <img src="../assets/images/people/{{ prev_visitor.image }}1.jpg" alt="">
          {% endif %}
        </div>
        <div class="person-description">
          <div class="person-name">{{ prev_visitor.name }}</div>
          <p>{{ prev_visitor.title }}</p>
          {% if prev_visitor.email %}
          <p><a href="mailto:{{ prev_visitor.email }}" target="_new">Email</a> |
          {% else %}
          <p> Email |
          {% endif %}
          {% if prev_visitor.homepage %}
          <a href="{{ prev_visitor.homepage }}" target="_new">Homepage</a> |
          {% else %}
          Homepage |
          {% endif %}
          {% if prev_visitor.company %}
          <a href="{{ prev_visitor.company }}" target="_new">Company</a></p>
          {% else %}
          Company </p>
          {% endif %}
        </div>
      </div>
      {% endfor %}

  </div>
</div>