<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{{ site.baseurl }}/" class="logo">
      {% if site.logo %}
      <img src="{{ site.logo | prepend: site.baseurl }}" alt="{{ site.title }}">
      {% else %}
      <span>{{ site.title }}</span>
      {% endif %}
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="{{ site.baseurl }}/">Home</a>
        <li class="nav-link"><a href="{{ "/research" | prepend: site.baseurl }}">Research</a>
        <li class="dropdown nav-link">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">People<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ "/people/tomizuka.html" | prepend: site.baseurl }}">Professor</a></li>
            <li><a href="{{ "/people/students.html" | prepend: site.baseurl }}">Students</a></li>
            <li><a href="{{ "/people/alumni.html"| prepend: site.baseurl }}">Alumni</a></li>
            <li><a href="{{ "/people/visitors.html" | prepend: site.baseurl }}">Visitors</a></li>
          </ul>
        </li>
        <li class="nav-link"><a href="{{ "/news" | prepend: site.baseurl }}">News</a>
        <!-- <li class="nav-link"><a href="{{ "/misc" | prepend: site.baseurl }}">Miscellaneous</a> -->
        <li class="nav-link"><a href="{{ "/blog" | prepend: site.baseurl }}">Blog</a>
        <li class="nav-link"><a href="{{ "/contact-us" | prepend: site.baseurl }}">Contact Us</a>
      </ul>
    </nav>
  </div>
</header>
